PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require

CLERK_PUBLISHABLE_KEY=pk_test_YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=sk_test_YOUR_SECRET_KEY

SENTRY_DSN=https://YOUR_KEY@YOUR_ORG.ingest.YOUR_REGION.sentry.io/YOUR_PROJECT_ID

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret

IMAGEKIT_PUBLIC_KEY=public_YOUR_PUBLIC_KEY
IMAGEKIT_PRIVATE_KEY=private_YOUR_PRIVATE_KEY
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id